/* css for all nav div */
.nav {
  display: flex;
  height: 120px;
  width: 100%;
  color: #FFFFFF;
  background-color: #4056A1;
  flex-direction: row;
  justify-content: space-between;
  border-radius: .3em;
  position: fixed;

}


/* css for tweeter logo */
.title {
  font-family: Bungee;
  margin-left: 1.5em;
  margin-top: 2em;
  font-size: xx-large;
}


/* css for right side content in nav */
.topRight {
  display: flex;
  flex-direction: column;
  font-family: 'Source Sans Pro';
  justify-content: center;
  margin-right: 1.5em;
}


/* for content in right */
.topRightContent {
  font-size: medium;
}


/* for one bold letter in nav */
.bold {
  font-weight: bolder;
}


/* for icon */
.doubleAngle {
  display: flex;
  justify-content: center;
  color: red;
}

